html,body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background: #333;
  color: white;
}

#app {
  display: flex;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

.leftpane {
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.left-header {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.left-body {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.rightpane {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.list1, .detail1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.list2, .list3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 0;
}

.detail2 {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 0;
  overflow-y: auto;
  overflow-x: hidden;

  font-size: 11px;
}

.history {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  font-size: 11px;
  cursor: pointer;
}

.history li, .add-form {
  background: rgb(60, 60, 60);

  margin: 3px 0px 3px 0px;
  padding: 2px 5px;
  border-redius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

  transition: all 300ms 0s ease;
}

.history-update {
  background: chocolate !important;
}


.history-body {
  display: flex;
  justify-content: space-between;
}

.graph{
  flex: 1;
  display: flex;
  flex-direction: column;

  background: rgb(102, 102, 102);

  margin: 3px 0px 3px 0px;
  padding: 0px;
  border-redius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

  transition: all 300ms 0s ease;
}

.graph-update {
  background: chocolate;
}

.graph-dummy {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 3px 0px 3px 0px;
}

.svg-header {
  display: flex;
  height: 25px;
  justify-content: space-between;
}

.title-area {
  font-size: 14px;
  padding: 5px 5px 0px 10px;
}

.title-focused {
  color: cyan; 
}

.delete-button {
  padding-right: 10px;
  cursor: pointer;
}

.history .selected-history {
  background: rgb(102, 102, 102);
}

.history .normal-history {
  color: lime;
}

.history .missing-history {
  color: rgb(255, 165, 0);
}

.history .focused-history {
  color: cyan;
}

.error {
  color: #e60033;
}

.svg-area {
  flex: 1;
  cursor: pointer;
}

.graph-svg {
  width: 100%;
  height: 100%;
}

.domain, .tick line {
  stroke: white;
}

.tick text {
  fill: white;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.focused-detail-data td{
  color: cyan; 
}


@media screen and (max-width: 700px) {
  html,body {
    overflow: initial;
  }

  #app {
    height: initial;
    overflow: initial;
    display: initial;
    flex-direction: column;
  }

  .leftpane {
    width: initial;
  }

  .left-header {
    flex-direction: row;
  }

  .left-body {
    flex-direction: row;
  }

  .history {
    margin: 0 5px;
  }
  
  .rightpane {
    flex: initial;
  }

  .graph{
    flex: initial;
  }

  .svg-header {
    height: initial;
    font-size: 11px;
  }

  .graph-svg {
    height: 260px;
  }
}
